<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ur_sensors" params="tf_prefix">
    <sensor name="${tf_prefix}tcp_fts_sensor">
      <state_interface name="force.x"/>
      <state_interface name="force.y"/>
      <state_interface name="force.z"/>
      <state_interface name="torque.x"/>
      <state_interface name="torque.y"/>
      <state_interface name="torque.z"/>
    </sensor>
    <sensor name="${tf_prefix}tcp_pose">
      <state_interface name="position.x"/>
      <state_interface name="position.y"/>
      <state_interface name="position.z"/>
      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
    </sensor>
  </xacro:macro>
</robot>
